.form-input {
  display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0 0 0 20px;
	background-color: #E5E5E5;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 14px;
	line-height: 19px;
	color: rgba(51, 51, 51, 0.5);
	cursor: pointer;
	box-sizing: border-box;
}
