.button {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);	
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
